.banner{
    .nav{
        width: 100%;
        padding: 1rem;
        height: 3rem;
        @include flex-layout(row,space-between,center);
        background-color: var(--color-primary);
        color: var(--color-sub2);
        @include desktop{
            padding-left: 55rem;
        }
        button{
            background-color: transparent;
            border: none;
            font-size: 1.5rem;
            color: var(--color-sub2);
            &:hover{
                filter: brightness(80%);
            }
        }
        .menu-bar{
        @include tablet{
            display: none;
        }
        }
        h1{
            @include font-En-title;
            font-size: 1.5rem;
        }
        .nav-icon{
            font-size: 1.5rem;
        }
    }
    .nav2{
        display: none;
        @include tablet{
            display: block;
            margin: 1rem auto;
        }
        @include desktop{
            margin: 1rem 10rem;
        }
        ul{
        @include flex-layout(row,space-around,center);
        @include font-En-sub;
        li{
            cursor: pointer;
        }
        }
    }
    img{
        margin: 2rem 0;
        width: 100%;
        @include tablet{
            height: 25rem;
            margin: 0;
        }
        @include desktop{
            height: 40rem;
            margin: 0;
        }
    }
}