nav {
  position: relative;
  padding: 1rem 0;
  
  .menu-btn {
    @include flex-layout(row, flex-start, center);
    gap: 1rem;
    @include tablet {
      display: none;
    }
    @include desktop {
      display: none;
    }
    
    button {
      svg {
        transform: scale(1.3);
        color: var(--color-white);
      }
    }
  }
  
  .menu-wrapper {
    width: 300px;
    background-color: var(--color-primary);
    position: absolute;
    left: -100%;
    z-index: 10; 
    opacity: 0;
    transition: all 0.5s ease;   
    @include desktop {
      width: 100%;
      position: static;
      opacity: 1;
      @include flex-layout(flex);
      background: none;
    }
    @include tablet {
      width: 100%;
      position: static;
      opacity: 1;
      @include flex-layout(flex);
      background: none;
    }
    
    ul {
      @include tablet {
        @include flex-layout(row, flex-start, flex-end);
        gap: 2.5rem;
      }
      @include desktop {
        @include flex-layout(row, flex-start, flex-end);
        gap: 7rem;
      }
    }
    
    li {
      cursor: pointer;
      padding: 5px 10px;
      border-bottom: 1px solid #ccc;
      color: var(--color-white);
      &:last-child {
        border: none;
      }
      &:hover {
        background-color: #ccc;
        color: var(--color-gray);
      }
      @include tablet {
        border: none;
        color: var(--color-black);
        font-weight: bolder;
        display: flex;
      }
      @include desktop {
        border: none;
        color: var(--color-black);
        font-weight: bolder;
        display: flex;
      }
    }
    
    p {
      padding: 0.5rem 0;
    }
  }
  
  &.mobile-open > .menu-wrapper {
    left: 0;
    opacity: 1;
  }
}