.product{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    h2{
        margin: 1rem 1rem;
        width: 100%;
        text-align: left;
        @include font-En-title;
    }
    p{ 
        width: 100%;
        text-align: left;
        font-size: 0.8rem;
        display: none;
        @include font-ko-small;
        @include tablet{
            display: block;
        }
        @include desktop{
            text-align: left;
            @include font-ko-body;
        }
    }
    img{
        display:block;
        width: 100%;
        height: 25rem;
        @include tablet{
            width: 100%;
            height: 25rem;
            @include desktop{
                width: 100%;
                height: 40rem;
                margin: 1rem auto;
            }
        }
    }
    button{
        background-color: transparent;
        border: none;
        font-size: 2.5rem;
        &:hover{
            filter: brightness(80%);
            }
    }
    .product-icon-1{
        position: absolute;
        top: 19rem;
        left: 4rem;
        z-index: 30;
        @include tablet{
            left: 6.5rem;
        }
        @include desktop{
            top: 30rem;
            left: 13rem;
        }
    }
    .product-icon-2{
        position: absolute;
        top: 17rem;
        left: 18rem;
        z-index: 25;
        @include tablet{
            top: 17rem;
            left: 28rem;
        }
        @include desktop{
            top: 27rem;
            left: 51.5rem;
        }
    }
    .product-icon-3{
        position: absolute;
        top: 13.5rem;
        left: 12.5rem;
        z-index: 20;
        @include tablet{
            top:15rem;
            left: 18.5rem;
        }
        @include desktop{
            top: 22rem;
            left: 36rem;
        }
    }
    .product-icon-4{
        position: absolute;
        top: 13.5rem;
        right: 8rem;
        z-index: 15;
        @include tablet{
            top: 15.5rem;
            right: 9.5rem;
        }
        @include desktop{
            top: 23rem;
            right: 20rem;
        }
    }
}